---
layout: default
permalink: hilfe/uber
---

<main role="main">
            <div id="main" class="row">
                <div class="row-content buffer-left buffer-right buffer-bottom clear-after">

                    <div class="post-area clear-after">
                        <article role="main" class="column nine">
                            <h5 class="meta-post">Hilfe // Datenübertragung<h5>
                            <h1>Datenübertragung</h1>

                            <h3>Daten übertragen mit Cyberduck</h3>
                            <hr>
                            <div class="column twelve">
                                <p>Laden Sie sich zunächst das Programm "Cyberduck" aus unseren Download-Bereich herunter.
                                Beim ersten Programmstart sollten Sie folgendes Fenster sehen:</p>
                                <strong>Klicken Sie hier auf "Neue Verbindung"</strong>
                            </div>
                            <div class="column nine">
                                <div class="grid-items portfolio-section preload lightbox">
                                    <article class="item column twelve last" data-groups='["einrichten"]'>
                                        <figure><img src="/assets/images/hilfe/daten/daten1.jpg" alt=""></figure>
                                        <a class="overlay" href="/assets/images/hilfe/daten/daten1.jpg" data-lightbox="gallery-1">
                                            <div class="overlay-content">
                                                <div class="post-type"><i class="icon icon-search"></i></div>
                                                <h2>Neue Verbindung herstellen</h2>
                                                <p></p>
                                            </div><!-- overlay-content -->
                                        </a><!-- overlay -->
                                    </article>
                                    <div class="shuffle-sizer three"></div>
                                </div><!-- grid-items -->
                            </div>

                            <div class="column twelve">
                                <br>
                                <p>
                                <strong>Im nächsten Fenster geben Sie bitte folgende Werte ein:</strong> <br>
                                    Server: ftp.color-druck-ftp.net <br>
                                    Port: 21 <br>
                                    Benutzername: color-druck-ftp.net <br>
                                    Passwort: erhalten Sie telefonisch auf Anfrage  <br>
                                </p>
                            </div>
                            <div class="column seven">
                                <div class="grid-items portfolio-section preload">
                                    <article class="item column twelve last" data-groups='["einrichten"]'>
                                        <figure><img src="/assets/images/hilfe/daten/daten2.jpg" alt=""></figure>
                                        <a class="overlay" href="/assets/images/hilfe/daten/daten2.jpg" data-lightbox="gallery-1">
                                            <div class="overlay-content">
                                                <div class="post-type"><i class="icon icon-search"></i></div>
                                                <h2>Zugangsdaten</h2>
                                                <p></p>
                                            </div><!-- overlay-content -->
                                        </a><!-- overlay -->
                                    </article>
                                    <div class="shuffle-sizer three"></div>
                                </div><!-- grid-items -->
                            </div>
                            <div class="column twelve">
                                <p>Obwohl der Server das Protokoll FTP-SSH unterstützt sollten Sie dieses nicht wählen. <strong>Daher wählen Sie "Fortfahren".</strong> Durch aktivieren der Feldes "Nicht mehr zeigen", wird diese Warnmeldung dauerhaft ausgeschaltet.</p>
                            </div>
                            <br>
                            <div class="column twelve">
                                <strong>Im folgenden Fenster sollten Sie 3 Ordner sehen.</strong>
                                <p>
                                    Ziehen Sie ihre Dateien per "Drag´n Drop" in den <strong>"Kundenupload"</strong> Ordner. Die Daten werden nach erfolgreichem Upload automatisch durch unser System heruntergeladen und auf dem Server gelöscht.
                                </p>
                            </div>
                            <div class="column ten">
                                <div class="grid-items portfolio-section preload">
                                    <article class="item column twelve last" data-groups='["einrichten"]'>
                                        <figure><img src="/assets/images/hilfe/daten/daten3.jpg" alt=""></figure>
                                        <a class="overlay" href="/assets/images/hilfe/daten/daten3.jpg" data-lightbox="gallery-1">
                                            <div class="overlay-content">
                                                <div class="post-type"><i class="icon icon-search"></i></div>
                                                <h2>Ordner</h2>
                                                <p></p>
                                            </div><!-- overlay-content -->
                                        </a><!-- overlay -->
                                    </article>
                                    <div class="shuffle-sizer three"></div>
                                </div><!-- grid-items -->
                            </div>
                            <br />

                        </article>

                        <aside role="complementary" class="sidebar column three last">
                            <div class="widget">
                              {% include productSideNav.html %}
                            </div>
                        </aside>

                    </div><!-- post-area -->
                </div><!-- row-content -->
            </div><!-- row -->
        </main><!-- main -->

        <!-- Add "single single-post" class to body -->
        <script type="text/javascript">document.getElementsByTagName('body')[0].className+=' single single-post'</script>
