---
layout: default
permalink: 25years
---

<main role="main">
    <div id="intro-wrap" data-height="42">
        <div id="intro" class="preload darken more-button">
            <div class="intro-item" style="background-image: url(/assets/images/unternehmen/unternehmen6.jpg);">
                <div class="caption">
                    <h2 style="font-size: 8em; margin-bottom: 0">25+</h2>
                    <p style="font-size: 2em">farbenfroh + vielseitig</p>
                </div><!-- caption -->
            </div>
        </div><!-- intro -->
    </div><!-- intro-wrap -->

    <div id="main">
        <div class="row-content buffer">
            <div class="post-area clear-after">
                <article role="main">
                    <img src="/assets/images/intro/color25farbenfroh.png" alt="25+ farbenfroh">
                    <h3>25 Jahre erfolgreiche Druck-, Medienproduktion und Serviceleistungen</h3>
                    <p>farbenfroh + vielseitig – das umschreibt in zwei Worten unser Tun und unser Wirken.</p>
                    <p>Vor 25 Jahren fing alles an: Seitdem drucken, digitalisieren und versenden wir Ihre Informationen und Botschaften in alle Welt. </p>
                    <p>Und wenn uns die letzen 25 Jahre etwas gelehrt haben,
                    dann, dass alles im Fluß ist, sich ständig verändert und wir
                    Schritt halten mit den Entwicklungen und neuen Anforderungen.
                    Denn wir wollen auch in Zukunft als Mediendienstleister
                    technologisch ganz vorne dabei sein. </p>
                    <h3>Wir sagen DANKE für Ihr Vertrauen und die partnerschafliche Zusammenarbeit.</h3>
                </article>

            </div><!-- post-area -->
        </div>
    </div><!-- id-main -->
</main><!-- main -->

<!-- Add "single single-post" class to body -->
<script type="text/javascript">document.getElementsByTagName('body')[0].className+=' page'</script>
