---
layout: default
permalink: service
---

<main role="main">
    <div id="main" class="row">
        <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
<!--                     <div id="post-nav">
                <ul class="clear-after reset plain">
                    <li id="prev-items" class="post-nav"><a href="#"><i class="fa fa-chevron-left"></i><span class="label hidden-mobile">Prev</span></a></li>
                    <li id="all-items" class="post-nav"><a href="#"><i class="icon icon-images"></i></a></li>
                    <li id="next-items" class="post-nav"><a href="#"><span class="label hidden-mobile">Next</span><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div> -->

            <div class="post-area clear-after">
                <article role="main" class="column nine">
                    <h5 class="meta-post">Service</h5>
                    <h1>Service</h1>
                    <h3>Lettershop</h3>
                    <ul>
                        <li>Personalisierung über Digitaldruck </li>
                        <li>Direktadressierung</li>
                        <li>Portooptimierung</li>
                        <li>Adressoptimierung</li>
                        <li>Maschinelle Kuvertierung</li>
                        <li>Versand</li>
                    </ul>
                    <h3>Logistik</h3>
                    <ul>
                        <li>Eigener Fuhrpark</li>
                        <li>Weltweiter Versand</li>
                        <li>Einlagerungen</li>
                        <li>Lagerabruf</li>
                        <li>Lagermengenkontrolle online</li>
                    </ul>
                    <h3>Prepress</h3>
                    <ul>
                        <li>Datenhandling/Datencheck</li>
                        <li>Datenoptimierung</li>
                        <li>Color Management</li>
                        <li>Satz /DTP</li>
                        <li>Bildbearbeitung</li>
                        <li>Composing/Retusche</li>
                        <li>Remote Access / Web-Workflow</li>
                    </ul>
                    <h3>Kreation & Grafik</h3>
                    <ul>
                        <li>Werbeberatung</li>
                        <li>Konzept/Kreation</li>
                        <li>Gestaltung/Grafik</li>
                        <li>Fotografie/3D-Grafik/Animation</li>
                        <li>Text/Redaktion</li>
                        <li>Werbemittelplanung/-produktion</li>
                    </ul>

                </article>

                <aside role="complementary" class="sidebar column three last">
                      <div class="widget">
                        {% include productSideNav.html %}
                    </div>
                </aside>

            </div><!-- post-area -->
        </div><!-- row-content -->
    </div><!-- row -->
</main><!-- main -->

<!-- Add "single single-post" class to body -->
<script type="text/javascript">document.getElementsByTagName('body')[0].className+=' single single-post'</script>
