---
layout: default
permalink: kontakt/anfahrt
---

<main role="main">
  <div id="intro-wrap" data-height="42">
    <div id="intro" class="preload more-button">
      <div class="map" data-maplat="51.836760" data-maplon="9.450908" data-mapzoom="13" data-color="invert" data-height="300" data-img="/assets/images/marker.png" data-info="<a href='https://www.google.de/maps/dir//Lindenallee+19,+37603+Holzminden/@51.8367598,9.4486017,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x47bae8cb6a99d6f3:0x9baac8d080978ea8!2m2!1d9.4509084!2d51.8367598'>Adresse: <br> Lindenallee 19 <br> 37603 Holzminden</a>"></div>
    </div><!-- intro -->
  </div><!-- intro-wrap -->

  <div id="main">

    <section class="row section">
      <div class="row-content buffer even clear-after">
        <div class="section-title"><h3>Kontakt</h3></div>
        <div class="column nine">
          <form method="post" name="supportForm" id="supportForm" class="contact-section">
            <span class="pre-input"><i class="icon icon-user"></i></span>
            <input class="name plain buffer" type="text" name="name" placeholder="Name">
            <span class="pre-input"><i class="icon icon-email"></i></span>
            <input class="email plain buffer" type="email" name="support_email" placeholder="Email">
            <textarea class="plain buffer" name="support_text" placeholder="Text hier"></textarea>
            <input id="sendMessage" class="plain button red" type="button" value="Senden">
          </form>
        </div>
        <div class="column three last">
          <div class="widget">
            <h4>Adresse</h4>
            <p>
              Lindenallee 19,<br>
              37603 Holzminden,<br>
              Deutschland
            </p>
            <p>
              Telefon: 05531/9320-0<br>
              Telefax: 05531/9320-5<br>
              Email: info@colorplus.de
            </p>
          </div>
<!-- 							<div class="widget meta-social">
            <h4>Social Media</h4>
            <ul class="inline">
              <li><a href="#" class="linkedin-share border-box"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" class="xing-share border-box"><i class="fa fa-xing-square"></i></a></li>
              <li><a href="#" class="skype-share border-box"><i class="fa fa-skype"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </section>

  </div><!-- id-main -->
</main><!-- main -->

<!-- Add "page" class to body -->
<script type="text/javascript">document.getElementsByTagName('body')[0].className+=' page'</script>
