---
layout: default
permalink: kontakt/team
---

<main role="main">
            <div id="intro-wrap" data-height="42">
                <div id="intro" class="preload darken  more-button">
<!--                     <div class="intro-item" style="background-image: url(images/team/team.jpg);background-position: center bottom !important;  background-size: contain !important;"> -->
                    <div class="intro-item" style="background-image: url(/assets/images/team/team2.jpg);">
                        <div class="caption">
                            <h2>Das Team</h2>
                            <p>Der Mensch macht's.<br>
                            Das COLOR+ Team steht für Sie bereit.
                            </p>
                        </div><!-- caption -->
                    </div>
                </div><!-- intro -->
            </div><!-- intro-wrap -->

            <div id="main" class="row">
                <div class="row-content buffer-left buffer-right buffer-top clear-after">
                    <div class="column three">
                        <figure class="about-us">
                            <!-- <div class="team-image th"></div> -->
                            <img src="/assets/images/team/th.jpg">
                            <figcaption>
                                <h4>Thomas Hasselmann</h4>
                                <p>Geschäftsführer</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#116;&#104;&#046;&#104;&#097;&#115;&#115;&#101;&#108;&#109;&#097;&#110;&#110;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-0</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#116;&#104;&#046;&#104;&#097;&#115;&#115;&#101;&#108;&#109;&#097;&#110;&#110;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three">
                        <figure class="about-us">
                            <img src="/assets/images/team/wp.jpg">
                            <figcaption>
                                <h4>Werner Pfitzner</h4>
                                <p>Geschäftsführer</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a  class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#119;&#046;&#112;&#102;&#105;&#116;&#122;&#110;&#101;&#114;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-0</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#119;&#046;&#112;&#102;&#105;&#116;&#122;&#110;&#101;&#114;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three">
                        <figure class="about-us">
                            <img src="/assets/images/team/ub.jpg">
                            <figcaption>
                                <h4>Uwe Bettermann</h4>
                                <p>Verkauf</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#117;&#046;&#098;&#101;&#116;&#116;&#101;&#114;&#109;&#097;&#110;&#110;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-16</strong> <br>
                                            Mobil <strong>0160/97852897</strong> <br>
                                            Fax   <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#117;&#046;&#098;&#101;&#116;&#116;&#101;&#114;&#109;&#097;&#110;&#110;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three last">
                        <figure class="about-us">
                            <img src="/assets/images/team/sm.jpg">
                            <figcaption>
                                <h4>Stephan Mielke</h4>
                                <p>Verkauf</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#115;&#046;&#109;&#105;&#101;&#108;&#107;&#101;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-15</strong> <br>
                                            Mobil <strong>0170/9146640</strong> <br>
                                            Fax   <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#115;&#046;&#109;&#105;&#101;&#108;&#107;&#101;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row-content buffer-left buffer-right buffer-top clear-after">
                    <div class="column three">
                        <figure class="about-us">
                            <img src="/assets/images/team/mp.jpg">
                            <figcaption>
                                <h4>Markus Pfitzner</h4>
                                <p>Innendienst</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#109;&#046;&#112;&#102;&#105;&#116;&#122;&#110;&#101;&#114;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-20</strong> <br>
                                            Fax   <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#109;&#046;&#112;&#102;&#105;&#116;&#122;&#110;&#101;&#114;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three">
                        <figure class="about-us">
                            <img src="/assets/images/team/db.jpg">
                            <figcaption>
                                <h4>Dennis Brüning</h4>
                                <p>Innendienst</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#100;&#046;&#098;&#114;&#117;&#101;&#110;&#105;&#110;&#103;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;"  class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-17</strong> <br>
                                            Fax< <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#100;&#046;&#098;&#114;&#117;&#101;&#110;&#105;&#110;&#103;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three">
                        <figure class="about-us">
                            <img src="/assets/images/team/pw.jpg">
                            <figcaption>
                                <h4>Paul Wacker</h4>
                                <p>Inndendienst</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#112;&#046;&#119;&#097;&#099;&#107;&#101;&#114;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-82</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#112;&#046;&#119;&#097;&#099;&#107;&#101;&#114;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three last">
                        <figure class="about-us">
                            <img src="/assets/images/team/ef.jpg">
                            <figcaption>
                                <h4>Edda Floto</h4>
                                <p>Zentrale/Empfang</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#101;&#046;&#102;&#108;&#111;&#116;&#111;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;"class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-0</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#101;&#046;&#102;&#108;&#111;&#116;&#111;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row-content buffer-left buffer-right buffer-top clear-after">
                    <div class="column three">
                        <figure class="about-us">
                            <img src="/assets/images/team/tm.jpg">
                            <figcaption>
                                <h4>Tania Molthan</h4>
                                <p>Zentrale/Buchhaltung</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#116;&#046;&#109;&#111;&#108;&#116;&#104;&#097;&#110;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-14</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#116;&#046;&#109;&#111;&#108;&#116;&#104;&#097;&#110;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three">
                        <figure class="about-us">
                            <img src="/assets/images/team/ts.jpg">
                            <figcaption>
                                <h4>Thorsten Stickel</h4>
                                <p>Vorstufe</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#116;&#104;&#046;&#115;&#116;&#105;&#099;&#107;&#101;&#108;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;"class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-83</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#116;&#104;&#046;&#115;&#116;&#105;&#099;&#107;&#101;&#108;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three ">
                        <figure class="about-us">
                            <img src="/assets/images/team/lk.jpg">
                            <figcaption>
                                <h4>Lars Knoke</h4>
                                <p>Vorstufe</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger "><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#108;&#046;&#107;&#110;&#111;&#107;&#101;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;"class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-81</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#108;&#046;&#107;&#110;&#111;&#107;&#101;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="column three last">
                        <figure class="about-us">
                            <img src="/assets/images/team/vh.jpg">
                            <figcaption>
                                <h4>Viktor Hertel</h4>
                                <p>Druck</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#118;&#046;&#104;&#101;&#114;&#116;&#101;&#108;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-0</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#118;&#046;&#104;&#101;&#114;&#116;&#101;&#108;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                  </div>
                  <div class="row-content buffer clear-after">
                    <div class="column three">
                        <figure class="about-us">
                            <img src="/assets/images/team/ik.jpg">
                            <figcaption>
                                <h4>Ingo Klose</h4>
                                <p>Verarbeitung</p>
                                <div class="meta-social">
                                    <ul class="inline">
                                        <li><a href="#" class="twitter-share border-box contact-trigger"><i class="fa fa-phone fa-lg"></i></a></li>
                                        <li><a href="mailto:&#105;&#046;&#107;&#108;&#111;&#115;&#101;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;" class="twitter-share border-box"><i class="fa fa-envelope-o fa-lg"></i></a></li>
                                    </ul>
                                    <div class="contact-block">
                                        <p>
                                            Tel. <strong>05531/9320-0</strong> <br>
                                            Fax  <strong>05531/9320-50</strong> <br>
                                            Email <strong>&#105;&#046;&#107;&#108;&#111;&#115;&#101;&#064;&#099;&#111;&#108;&#111;&#114;&#112;&#108;&#117;&#115;&#046;&#100;&#101;</strong>
                                        </p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                  </div>
                </div>
            </div><!-- id-main -->
        </main><!-- main -->

        <!-- Add "page" class to body -->
        <script type="text/javascript">document.getElementsByTagName('body')[0].className+=' page'</script>
