<footer role="contentinfo">
    <div class="row">
        <div class="row-content buffer clear-after">
            <section id="top-footer">
                <div class="widget column three"><!-- la class="widget" è forse generata utomaticamente da wp -->
                    <h4>Menu</h4>
                    <ul class="plain">
                        <li><a href="/">Home</a></li>
                        <li><a href="/unternehmen">Unternehmen</a></li>
                        <li><a href="/print/druckverfahren">Produkte</a></li>
                        <li><a href="/hilfe/uber">Hilfe</a></li>
                        <li><a href="/kontakt/anfahrt">Kontakt</a></li>
                    </ul>
                </div>

                <div class="widget column three">
                    <h4>Adresse:</h4>
                    <dl>
                        <dt>Color-Druck GmbH</dt>
                        <dd>Lindenallee 19</dd>
                        <dd>37603 Holzminden</dd>
                    </dl>
                </div>
                <div class="widget column three">
                    <h4>Kontakt:</h4>
                    <dl>
                        <dt>Telefon/Fax:</dt>
                        <dd>05531/9320-0</dd>
                        <dd>05531/9320-50</dd>
                        <dt>Email:</dt>
                        <dd>info@colorplus.de</dd>

                    </dl>
                </div>
<!--                         <div class="widget meta-social column three">
                    <h4>Social Media</h4>
                    <ul class="inline">
                        <li><a href="#" class="linkedin-share border-box"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="xing-share border-box"><i class="fa fa-xing-square"></i></a></li>
                        <li><a href="#" class="skype-share border-box"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div> -->
            </section><!-- top-footer -->
            <section id="bottom-footer">
                <p class="keep-left">&copy; 2018 <a href="http://www.colorplus.de" alt="http://www.colorplus.de">Color+</a> All Rights Reserved.</p>
            </section><!-- bottom-footer -->
        </div><!-- row-content -->
    </div><!-- row -->
</footer>
