<header role="banner">
            <div class="row">
                <div class="nav-inner row-content buffer-left buffer-right even clear-after">
                    <div id="brand">
                        <h1 class="reset"><!--<img src="/assets/images/logo.png" alt="logo">-->
                            <a href="/">
                                <img id="default-logo" src="/assets/images/logo.png" alt="Color+">
                                <img id="retina-logo" src="/assets/images/logo2x.png" alt="Color+">
                            </a>
                        </h1>
                    </div><!-- brand -->
                    <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
                    <nav>
                        <ul class="reset" role="navigation">
                            <li class="menu-item">
                                <a href="/unternehmen">Unternehmen</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Produkte</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Print</a>
                                        <ul class="sub-menu">
                                            <li><a href="/print/druckverfahren">Druckverfahren</a></li>
                                            <li><a href="/print/druckservice">Druck-Service</a></li>
                                            <li><a href="/print/druckveredelung">Veredelung</a></li>
                                            <li><a href="/print/konfektionierung">Konfektionierung</a></li>
                                            <li><a href="/print/verarbeitung">Weiterverarbeitung</a></li>
                                            <li><a href="/print/muster">Muster anfordern</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Digital</a>
                                        <ul class="sub-menu">
                                            <li><a href="/digital/software">Software-/IT-Service</a></li>
                                            <li><a href="/digital/webshop">Individuelle Web-Shops</a></li>
                                            <li><a href="/digital/web">Web-Programmierung</a></li>
                                            <li><a href="/digital/database">Database Publishing</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/service">Service</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#">Hilfe</a>
                                <ul class="sub-menu">
                                    <li><a href="/hilfe/uber">Datenübertragung</a></li>
                                    <li><a href="/hilfe/anlegen">Daten anlegen</a></li>
                                    <li><a href="/hilfe/pdf">PDF-Settings</a></li>
                                    <!-- <li><a href="wip.html">Downloads</a></li> -->
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#">Kontakt</a>
                                <ul class="sub-menu">
                                    <li><a href="/kontakt/anfahrt">Anfahrt</a></li>
                                    <li><a href="/kontakt/team">Ansprechpartner</a></li>
                                    <li><a href="/kontakt/impressum">Impressum</a></li>
                                    <li><a href="/kontakt/agb">AGB</a></li>
                                    <li><a href="/datenschutz">Datenschutz</a>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#">Karriere</a>
                                <ul class="sub-menu">
                                    <li>
                                      <a href="#">Stellenangebote</a>
                                      <ul class="sub-menu">
                                          <!-- <li><a href="/karriere/drucker/">Offsetdruck / Weiterverabeitung</a></li> -->
                                          <li><a href="/karriere/sachbearbeiter/">Sachbearbeiter</a></li>
                                      </ul>
                                    </li>
                                    <!-- <li><a href="/ausbildung">Ausbildung</a></li> -->
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- row-content -->
            </div><!-- row -->
        </header>
