---
layout: default
permalink: print/druckveredelung
---

<main role="main">
    <div id="main" class="row">
        <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
<!--                     <div id="post-nav">
                <ul class="clear-after reset plain">
                    <li id="prev-items" class="post-nav"><a href="#"><i class="fa fa-chevron-left"></i><span class="label hidden-mobile">Prev</span></a></li>
                    <li id="all-items" class="post-nav"><a href="#"><i class="icon icon-images"></i></a></li>
                    <li id="next-items" class="post-nav"><a href="#"><span class="label hidden-mobile">Next</span><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div> -->

            <div class="post-area clear-after">
                <article role="main" class="column nine">
                    <h5 class="meta-post">Print // Veredelung</h5>
                    <h1>Veredelung</h1>
                    <h3>Lackveredelung</h3>
                    <ul>
                        <li>UV-Spot-Lack (partielle Glanzeffekte)</li>
                        <li>Drip-off-Lack (effektvolle Matt-Glanz-Kontraste durch die Kombination von zwei            unterschiedlichen Lacken)</li>
                        <li>Dispersions-Lack (Schutzlackierung mit kurzer Trocknungszeit)</li>
                        <li>Duft-Lack (Duftlacke enthalten mikroverkapselte Duftstoffe, die in nahezu jeder gewünschten Nuance zur Verfügung stehen. Durch Berühren und Reiben der lackierten Flächen werden die Mikrokapseln zerstört, so daß der Duft gezielt freigesetzt wird. </li>
                    </ul>

                    <hr>
                    <h3>Prägen</h3>
                    <p>Bei der <strong>Blindprägung</strong> werden Bild- und Textelemente auf einem Bedruckstoff durch einen Prägestempel dreidimensional verformt, dadurch plastisch hervorgehoben und damit „erfühlbar“. Die <strong>Tiefprägung</strong> ist quasi das Gegenteil der <strong>Blindprägung</strong>. Das Motiv ist nicht erhaben, sondern wird vertieft in das Material geprägt.</p>

                    <hr>
                    <h3>Kaschierung</h3>
                    <p>Kaschieren ist das flächige Verkleben eines Materials wie Papier oder Karton mit einer Folie, um die mechanischen und optischen Eigenschaften des Materials zu beeinflussen. Die Festigkeit wird erhöht.</p>

                    <hr>
                    <h3>Laminieren</h3>
                    <p>beidseitiges Kaschieren eines Materials mit Folie. <br>
                    z. B.: <br>
                        <ul>
                            <li>Landkarten und Pläne</li>
                            <li>Speisekarten</li>
                            <li>Ordnerblätter</li>
                        </ul>
                </article>

                <aside role="complementary" class="sidebar column three last">
                      <div class="widget">
                        {% include productSideNav.html %}
                    </div>
                </aside>

            </div><!-- post-area -->
        </div><!-- row-content -->
    </div><!-- row -->
</main><!-- main -->

<!-- Add "single single-post" class to body -->
<script type="text/javascript">document.getElementsByTagName('body')[0].className+=' single single-post'</script>
