---
layout: default
permalink: digital/webshop
---
<main role="main">
    <div id="main" class="row">
        <div class="row-content buffer-left buffer-right buffer-bottom clear-after">
<!--                     <div id="post-nav">
                <ul class="clear-after reset plain">
                    <li id="prev-items" class="post-nav"><a href="#"><i class="fa fa-chevron-left"></i><span class="label hidden-mobile">Prev</span></a></li>
                    <li id="all-items" class="post-nav"><a href="#"><i class="icon icon-images"></i></a></li>
                    <li id="next-items" class="post-nav"><a href="#"><span class="label hidden-mobile">Next</span><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div> -->

            <div class="post-area clear-after">
                <article role="main" class="column nine">
                    <h5 class="meta-post">Digital // Individuelle Web-Shops</h5>
                    <h1>Individuelle Web-Shops</h1>
                    <p>Offene und geschlossene Web-Shops:</p>
                    <ul>
                        <li>für Online-Bestellung von Geschäftsdrucksachen</li>
                        <li>für Online-Bestellung von Kalendern oder Werbemitteln</li>
                        <li>Individuelle Web-Lösungen</li>
                    </ul>
                </article>

                <aside role="complementary" class="sidebar column three last">
                      <div class="widget">
                        {% include productSideNav.html %}
                    </div>
                </aside>

            </div><!-- post-area -->
        </div><!-- row-content -->
    </div><!-- row -->
</main><!-- main -->

<!-- Add "single single-post" class to body -->
<script type="text/javascript">document.getElementsByTagName('body')[0].className+=' single single-post'</script>
