<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

      {{content}}

    {% include footer.html %}

    {% include supporter.html %}

    <script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyC2W_9ur2xEBuR41B4voqUcXGXaz6g1KU4"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.transit.js"></script>
    <script src="/assets/js/plugins.js"></script>
		<script src="/assets/js/beetle.js"></script>
		<script src="/assets/js/main.js"></script>
  </body>
<html>
